html{
    font-size: 62.5%;
    width: 100%;
    max-width: 100vw;
    scroll-behavior: smooth;
}

body{
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: auto;
    box-sizing: border-box;
}

:root{
    /* font-size: 16px; */
    font-family: 'Lato', 'Trebuchet', 'Verdana', 'Tahoma',
    'Arial Narrow', 'Helvetica', 'Geneva', sans-serif;
    --pink: #F6A7C1;
    --grey: #89AEB2;
    --purle: #9DABDD;
    --green: #38908F;
    --blue: #8AC0DE;
    --organe: #FB8E7E;
    --brown: #AA7B6F;
    --accent-color-primary: #9DABDD;
    --txt-color-primary: #111;
    --txt-color-secondary: #333;
    --txt-color-tertiary: #C0C0C0;
    --main-bg-color: #fff;
    --bg-color-primary: #111;
    --bg-colo-secondar:#333;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

p{

}

h1{

}

#nav-menu-btn-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin: 15px 25px;
    position: absolute;
    top: 20px;
    right: 26px;
    z-index: 11;
}

#nav-menu-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 35px;
    min-height: 20px;
    position: relative;
    margin: 10px;
    padding: 5px;
}

#top-nav-menu-btn-line{
    transition-property: background, width, margin, transform;
    transition-duration: 0.16s;
    transition-timing-function: ease-in;
}

#bottom-nav-menu-btn-line{
    transition-property: background, width, margin, transform;
    transition-duration: 0.16s;
    transition-delay: 0.16s;
}

#nav-menu-label{
    font-size: 1.6rem;
    color: var(--txt-color-primary);
    transition-duration: 0.3s;
    transition-property: opacity, transform;
}

.nav-menu-btn-lines{
    width: 35px;
    height: 2px;
    background: #111;
    margin: 4px 0px;
}

#nav-menu-wrapper{
    min-width: 435px;
    min-height: 500px;
    position: absolute;
    z-index: 10;
    top: 20px;
    right: 35px;
    box-shadow: 0 52px 74px rgba(0,21,64,0.25);
    overflow: hidden;
    background: black;
}

#nav-menu{
    width: 100%;
    height: 100%;
    padding: 70px 0px 46px 50px;
    box-sizing: border-box;
    position: absolute;
    z-index: 9;
}

#nav-menu-tabs-wrapper-top{
    margin: 0px 0px 60px 0px;

}

.nav-menu-tab{
    font-size: 2.8rem;
    color: #fff;
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
    height: 70px;

}

#nav-contact-info{
    display: block;
    height: auto;
}

#nav-contact-info h1{
    display: block;
}

#nav-call-to-action{
    font-size: 1.8rem;
}

.nav-contact{
    font-size: 2.1rem;
    font-weight: 300;
    margin: 0px 0px 10px 0px
}

#hero-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg-color);
}

#hero-intro-txt-wrapper{
    max-width: 95%;
}

#hero-intro-txt-wrapper h1{
    display: block;
    font-size: 12.8rem;
    color: var(--txt-color-secondary);
    font-weight: bold;
    letter-spacing: 6px;
    margin: 0em;
}

.txt-contrasted{
    color: var(--txt-color-tertiary);
    /* text-shadow: 0 24px 20px rgba(0,21,64,0.2); */
}

.txt-flipped{
    transform: scaleX(-1);
}

/*----------Colors----------*/
.accent-txt-color{
    color: var(--accent-color-primary);
}

.accent-bg-color{
    background: var(--accent-color-primary);
}

.pink-txt{
    color: var(--pink);
}

.grey-txt{
    color: var(--grey);
}

.purple-txt{
    color: var(--purple);
}

.green-txt{
    color: var(--green);
}

.blue-txt{
    color: var(--blue);
}

.orange-txt{
    color: var(--organe);
}

.brown-txt{
    color: var(--brown);
}



/*----------Transitions & Animations----------*/
.fade-in-nav-bar{
    animation-name: fade-in-nav-bar;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    pointer-events: all;
}

@keyframes fade-in-nav-bar {
    0% {opacity: 0; right: 60px;}
    100% {opacity: 1; right: 40px}
}

.fade-out-nav-bar{
    animation-name: fade-out-nav-bar;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    pointer-events: none;
}

@keyframes fade-out-nav-bar{
    0% {opacity: 1; right: 40px;}
    100% {opacity: 0; right: 60px}
}

.hidden{
    opacity: 0;
    pointer-events: none;
}

.top-nav-btn-icon-transition{
    background: #fff;
    width: 25px;
    margin: -1px -1px;
    transform: rotate(45deg);
}

.bottom-nav-btn-icon-transition{
    background: #fff;
    width: 25px;
    margin: 0px 0px;
    transform: rotate(-45deg);
}



/*----------Media Queries----------*/


/*~~Hero Text~~*/

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #nav-menu-btn-wrapper{
        top: 5px;
        left: 10px;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    #nav-menu-btn-wrapper{
        top: 5px;
        left: 10px;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1100px)
and (orientation: portrait){
    #hero-intro-txt-wrapper h1 {
    font-size: 9.6rem;
        }
    }

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    #hero-intro-txt-wrapper h1{
        font-size: 7.2rem;
    }
}

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-device-width: 800px)
and (orientation: portrait){
    #hero-intro-txt-wrapper h1 {
    font-size: 6.4rem;
        }
    }

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-device-width: 1100px)
and (orientation: landscape){
    #hero-intro-txt-wrapper h1 {
    font-size: 6.6rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #hero-intro-txt-wrapper h1{
        font-size: 4.0rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    #hero-intro-txt-wrapper h1{
        font-size: 4.0rem;
    }
}

/* PORTRAIT: Low px density sub 4" phone e.g. iPhone SE phone */
@media only screen 
and (max-device-width: 360px) 
and (orientation: portrait) {
    #hero-intro-txt-wrapper h1{
        font-size: 3.2rem;
    }
}

/*LANDSCAPE: Low px density sub 4" phone e.g. iPhone SE phone */
@media only screen 
and (max-device-width: 700px) 
and (orientation: landscape) {
    #hero-intro-txt-wrapper h1{
        font-size: 4.0rem;
    }

}

/*Landscape for phones*/
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    p{
        font-size: 17px;
    }

}

/*Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media (max-device-width: 1100px)
and (orientation: portrait){
    p {
        font-size: 30px;
            }
        }

/*Smaller tablets e.g. Ipad*/
@media (max-device-width: 800px)
and (orientation: portrait){
p {
    font-size: 19px;
        }
    }

/*HD + QHD Phablet(should cover tall aspect ratios also)*/
@media (max-device-width: 500px)
and (orientation: portrait){
p {
    font-size: 17px;
    word-spacing: 1px;
        }
    }

/*qHD sub 5" phones e.g. iPhone 8 */
@media (max-device-width: 400px)
and (orientation: portrait){
    p {
        font-size: 15px;
            }
        }

/* Low px density sub 4" phone e.g. iPhone SE phone */
@media (max-device-width: 360px)
and (orientation: portrait){
    p {
        font-size: 15px;
            }
        }

/*2K laptops*/
@media only screen  and (min-width : 2000px) {
    p {
        font-size: calc(16px * 1.3);
        }
    }

/*4K laptops*/
@media only screen  and (min-width : 3000px) {
    p {
        font-size: calc(16px * 2.4);
        }
    }
