html{
    width: 100%;
    max-width: 100vw;
    /* overflow-x: hidden;  */
}

body{
    position: relative;
    width: 100%;
    max-width: 100vw;
    height: auto;
    /* overflow-x: hidden;  */
}

:root{
    font-size: 16px;
    font-family: 'Lato', 'Trebuchet', 'Verdana', 'Tahoma',
    'Arial Narrow', 'Helvetica', 'Geneva', sans-serif;
    --pink: #F6A7C1;
    --grey: #89AEB2;
    --purle: #9DABDD;
    --green: #38908F;
    --blue: #8AC0DE;
    --organe: #FB8E7E;
    --brown: #AA7B6F;
    --txt-color-primary: #111;
    --txt-color-secondary: #333;
    --txt-color-tertiary: #C0C0C0;
    --main-bg-color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

p{

}

h1{

}

#hero-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-bg-color);
}

#hero-intro-txt-wrapper{
    max-width: 95%;
}

#hero-intro-txt-wrapper h1{
    font-size: 8rem;
    color: var(--txt-color-secondary);
    font-weight: bold;
    letter-spacing: 6px;
    margin: 0em;
}

.txt-xontrasted{
    color: var(--txt-color-tertiary);
}

.txt-flipped{
    transform: scaleX(-1);
}


/*----------Media Queries----------*/


/*~~~~~~~~~~Hero Text~~~~~~~~~~*/

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1100px)
and (orientation: portrait){
    #hero-intro-txt-wrapper h1 {
    font-size: 3em;
        }
    }

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    #hero-intro-txt-wrapper h1{
        font-size: 4.5rem;
    }
}

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-device-width: 800px)
and (orientation: portrait){
    #hero-intro-txt-wrapper h1 {
    font-size: 3em;
        }
    }

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-device-width: 1100px)
and (orientation: landscape){
    #hero-intro-txt-wrapper h1 {
    font-size: 4.1em;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #hero-intro-txt-wrapper h1{
        font-size: 2.5em;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    #hero-intro-txt-wrapper h1{
        font-size: 2.5em;
    }
}

/* PORTRAIT: Low px density sub 4" phone e.g. iPhone SE phone */
@media only screen 
and (max-device-width: 360px) 
and (orientation: portrait) {
    #hero-intro-txt-wrapper h1{
        font-size: 2em;
    }
}

/*LANDSCAPE: Low px density sub 4" phone e.g. iPhone SE phone */
@media only screen 
and (max-device-width: 700px) 
and (orientation: landscape) {
    #hero-intro-txt-wrapper h1{
        font-size: 2.5em;
    }

}

/*Landscape for phones*/
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    p{
        font-size: 17px;
    }

}

/*Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media (max-device-width: 1100px)
and (orientation: portrait){
    p {
        font-size: 30px;
            }
        }

/*Smaller tablets e.g. Ipad*/
@media (max-device-width: 800px)
and (orientation: portrait){
p {
    font-size: 19px;
        }
    }

/*HD + QHD Phablet(should cover tall aspect ratios also)*/
@media (max-device-width: 500px)
and (orientation: portrait){
p {
    font-size: 17px;
    word-spacing: 1px;
        }
    }

/*qHD sub 5" phones e.g. iPhone 8 */
@media (max-device-width: 400px)
and (orientation: portrait){
    p {
        font-size: 15px;
            }
        }

/* Low px density sub 4" phone e.g. iPhone SE phone */
@media (max-device-width: 360px)
and (orientation: portrait){
    p {
        font-size: 15px;
            }
        }

/*2K laptops*/
@media only screen  and (min-width : 2000px) {
    p {
        font-size: calc(16px * 1.3);
        }
    }

/*4K laptops*/
@media only screen  and (min-width : 3000px) {
    p {
        font-size: calc(16px * 2.4);
        }
    }
