html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body{
    color: var(--txt-color-dark);
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: auto;
    margin: 0rem;
    background-color: var(--bg-color-dark);
    box-sizing: border-box;
}

:root{
    font-family: 'Inconsolata', 'Trebuchet', 'Verdana', 'Tahoma',
    'Arial Narrow', 'Helvetica', 'Geneva', sans-serif;
    color: var(--txt-color-light);
    --pink: #FF4081;
    --grey: #485a6c;
    --purple: #7C4DFF;
    --green: #38908F;
    --blue: #1E90FF;
    --orange: #F44336;
    --brown: #AA7B6F;
    --yellow: #E6B655;
    --accent-color-primary: #7C4DFF;
    --txt-color-dark: #444;
    --txt-color-darker: #111;
    --txt-color-light: #C0C0C0;
    --txt-color-lighter: #fff;
    --bg-color-light:#fff;
    --bg-color-light-contrast:  #EEEEFF;
    --bg-color-dark: #071119;
    --bg-color-dark-contrast: #0A1620;
    --ripple-size-small: 1.1rem;
    --std-box-shadow: 0 5.2rem 7.4rem rgba(0,0,0, 0.8);
    --border-radius-sm: 1rem;
    --bouncy-trans: cubic-bezier(0.25, 0.1, 0, 2.05);
    --heading-txt-m: 6rem;
    --heading-txt-ms: 5.5rem;
    --heading-txt-sm: 3.5rem;
    --heading-txt-xsm: 1.9rem;
}


a{
    text-decoration: none;
}

a:hover{
    text-decoration: none;
}

a:active{
    text-decoration: none;
}

p{
    color: var(--txt-color-lighter);
}

p a{
    font-family: 'Ubuntu', 'Trebuchet', 'Verdana', 'Tahoma',
    'Arial Narrow', 'Helvetica', 'Geneva', sans-serif;
    color: var(--accent-color-primary);
    font-weight: 300;
    white-space: nowrap;
    position: relative;
}

p a::after{
    content: '';
    width: 100%;
    height: 60%;
    position: absolute;
    bottom: -0.3rem;
    left: 1rem;
    right: 0rem;
    opacity: 0.35;
    background-color: var(--accent-color-primary);
    transition-property: height, left;
    transition-duration: 0.3s;
    transition-timing-function: var(--bouncy-trans);
}

p a:hover::after{
    height: 135%;
    left: 0rem;
}

h1 a{
    color: var(--accent-color-primary);
    font-weight: bold;
    font-style: italic;
    white-space: nowrap;
    position: relative;
}

h1 a::after{
    content: '';
    width: 100%;
    height: 35%;
    position: absolute;
    bottom: -0.3rem;
    left: 1rem;
    right: 0rem;
    opacity: 0.35;
    background-color: var(--accent-color-primary);
    transition-property: height, left;
    transition-duration: 0.3s;
    transition-timing-function: var(--bouncy-trans);
}

h1 a:hover::after{
    height: 110%;
    left: 0rem;
}


h1{
    font-family: 'Ubuntu', 'Trebuchet', 'Verdana', 'Tahoma',
    'Arial Narrow', 'Helvetica', 'Geneva', sans-serif;
    color: var(--txt-color-lighter);
}

::placeholder{
    color: var(--accent-color-primary);
    opacity: 0.3;
}

.standout-txt{
    font-family: 'Ubuntu', 'Trebuchet', 'Verdana', 'Tahoma',
    'Arial Narrow', 'Helvetica', 'Geneva', sans-serif;
}
::selection{
    /* background-color: var(--accent-color-primary); */
    background-color: rgba(255,255,255, 0.5);
}

section{
    position: relative;
    width: 100%;
    padding-top: 10rem;
    margin: 0rem 0rem 4rem 0rem;
}

.section-heading{
    font-size: var(--heading-txt-sm);
    text-align: center;
    position: absolute;
    top: 0rem;
    right: 0rem;
    left: 0rem;
}

/*()||||||+++++NAVIGATION MENU BOTTON+++++|||||()*/

#nav-menu-btn-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 4rem;
    margin: 1.5rem 2.5rem;
    position: fixed;
    top: 2rem;
    right: 2.6rem;
    z-index: 11;
}

#nav-menu-btn{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 3.5rem;
    min-height: 2rem;
    position: relative;
    margin: 1rem;
    padding: 0.5rem;
}

#nav-menu-btn-line-top{
    transition-property: background-color, width, margin, transform;
    transition-duration: 0.16s;
    transition-timing-function: ease-in;
}

#nav-menu-btn-line-bottom{
    transition-property: background-color, width, margin, transform;
    transition-duration: 0.16s;
    transition-delay: 0.16s;
}

.nav-menu-btn-lines{
    width: 3.5rem;
    height: 0.2rem;
    background-color: var(--bg-color-light);
    margin: 0.4rem 0rem;
}

#nav-menu-label{
    font-size: 1.6rem;
    color: var(--txt-color-light);
    transition-duration: 0.3s;
    transition-property: opacity, transform;
}

/*()||||||+++++NAVIGATION MENU+++++|||||()*/

#nav-menu-wrapper{
    height: auto;
    position: fixed;
    z-index: 10;
    top: 2rem;
    right: 3.5rem;
    box-shadow: var(--std-box-shadow);
    overflow-x: hidden;
}

#nav-menu{
    width: 100%;
    height: 100%;
    padding: 4rem 4rem 4rem 4rem;
    box-sizing: border-box;
    position: relative;
    z-index: 9;
}

#nav-menu-subsections-wrapper{
    position: relative;
}

.nav-menu-subsection-style{
    position: relative;
    padding: 2rem;
    margin: 0rem 0rem 0rem 0rem;
    border-radius: var(--border-radius-sm);
}
/*()||||||+++++NAVIGATION MENU SITE LINKS+++++|||||()*/

.nav-menu-site-link{
    font-size: 2.8rem;
    color: #fff;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    height: 5rem;
    position: relative;
}

.nav-menu-site-link a{
    color: #fff;
    position: relative;
    padding-bottom: 1rem;
}

.hover-highlightable-nav-menu::after{
    display: block;
    position: absolute;
    bottom: 0;
    content: '';
    width: 0%;
    height: 0.4rem;
    background-color: #fff;
    transition-property: width;
    transition-duration: 0.3s;
    transition-timing-function: var(--bouncy-trans);;
}

.hover-highlightable-nav-menu:hover::after{
width: 100%;
}

/*()||||||+++++NAVIGATION MENU CONTACT INFO+++++|||||()*/

#nav-contact-info{
    display: block;
    height: auto;
}

#nav-contact-info h1{
    color: #fff;
    font-family: 'Ubuntu';
    display: block;
}

#nav-call-to-action{
    font-size: 1.8rem;
}

.nav-contact{
    font-size: 2.1rem;
    font-weight: 300;
    margin: 0rem 0rem 1rem 0rem;
}

#nav-social{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5rem;
    letter-spacing: 0.19rem;
    margin-top: 2rem;
}

#nav-social a{
    font-weight: bold;
    position: relative;
    padding: 1rem 0rem;
    margin: 0rem 0.1rem;
}

#nav-social span{
    margin: 0rem 1rem;
}

#nav-social a:first-child{
    margin-left: 0rem;
    padding-left: 0rem;
}

/*()||||||+++++HERO SECTION+++++|||||()*/

#hero-intro{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#hero-intro-txt-wrapper{
    max-width: 95%;
}

#hero-intro-txt-wrapper h1{
    display: block;
    font-size: 12.8rem;
    font-weight: 300;
    letter-spacing: 0.6rem;
    margin: 0em;
}

.txt-flipped{
    transform: scaleX(-1);
}

/*()||||||+++++CUSTOMIZE+++++|||||()*/
#customize{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

#theme-switcher-wrapper{
    margin-bottom: 10rem;
}

.customizations-btn-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    width: 50rem;
    padding: 7rem 4rem 0rem 4rem;
    margin: 0rem 4rem 6rem 0rem;
    border-radius: var(--border-radius-sm);
    box-shadow: var(--std-box-shadow);
}

.customizations-btn-wrapper h1{
    font-family: 'Ubuntu';
    font-weight: 400;
    text-align: center;
    position: absolute;
    top: 0rem;
    left: 0rem;
    right: 0rem;
}

.color-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 16rem;
    height: 3.5rem;
    margin: 0rem 4rem 8rem 4rem;
    border-radius: 0.2rem;
    transition-property: transform;
    transition-duration: 0.2s;
    transition-timing-function: var(--bouncy-trans);
}

.color-bar:hover{
    transform: translateY(-1rem);
}

.color-bar p{
    font-size: 1.4rem;
    color: #fff;
    font-weight: 900;
    padding: 0rem;
    margin: 0rem;
    opacity: 0;
    transform: translateY(0.5rem);
    transition-property: opacity, transform;
    transition-duration: 0.2s;
    transition-timing-function: ease-in-out;
}

.color-bar:hover p{
    opacity: 1;
    transform: translateY(0rem);
    user-select: none;
}

.color-bar:hover::after{
    top: 0rem;
    bottom: 0rem;
    left: 0rem;
    right: 0rem;
}

.color-bar::before{
    font-size: 2.1rem;
    font-weight: 900;
    text-align: center;
    position: absolute;
    bottom: -4.5rem;
    left: 0rem;
    right: 0rem;
    padding: 0.5rem;
}

#color-bar-0::before{
    content: '#FF4081';
}

#color-bar-1::before{
    content: '#485A6C';
}

#color-bar-2::before{
    content: '#7C4DFF';
}

#color-bar-3::before{
    content: '#38908F';
}

#color-bar-4::before{
    content: '#1E90FF';
}

#color-bar-5::before{
    content: '#F44336';
}

#color-bar-6::before{
    content: '#AA7B6F';
}

#color-bar-7::before{
    content: '#E6B655';
}

.color-bar::after{
    content: '';
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: #fff;
    position: absolute;
    z-index: -3;
    top: -0.6rem;
    bottom: -0.6rem;
    left: -0.6rem;
    right: -0.6rem;
    opacity: 0.4;
    background-color: inherit;
    border-radius: inherit;
}

.exibition-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 65rem;
    height: auto;
    min-height: 73rem;
    padding: 3rem;
    margin: 0rem 4rem;
    border-radius: var(--border-radius-sm);
    background-color: var(--bg-color-dark);
}

.exibition-block-partition{
    width: 40%;
    height: 0.1rem;
    background-color: var(--txt-color-dark);
    margin: 2rem 0rem;
    border: none;
    border-radius: var(--border-radius-sm);
}

.exibition-block-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    padding: 2rem;
}

.exibition-shaded-shapes-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    margin: 1rem auto 4rem auto;
}

.exibition-shaded-shapes-wrapper p{
    font-family: 'Ubuntu';
    color: #fff;
    font-size: 1.6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    bottom: -3rem;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    padding: 0rem;
    margin: 0rem;
    text-align: center;
}

.exibition-shaded-shapes{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 6rem;
    height: 6rem;
    background-color: var(--accent-color-primary);
    border-radius: 50%;
}


#exibition-shaded-shape-1{
    opacity: 0.1;
}

#exibition-shaded-shape-2{
    opacity: 0.2;
}

#exibition-shaded-shape-3{
    opacity: 0.4;
}

#exibition-shaded-shape-4{
    opacity: 0.6;
}

#exibition-shaded-shape-5{
    opacity: 0.8;
}

#exibition-shaded-shape-6{
    opacity: 1;
}


/* .exibition-shaded-shapes:nth-child(1)::after{
    content: '0.1';
}

.exibition-shaded-shapes:nth-child(2)::after{
    content: '0.2';
}

.exibition-shaded-shapes:nth-child(3)::after{
    content: '0.4';
}

.exibition-shaded-shapes:nth-child(4)::after{
    content: '0.6';
}

.exibition-shaded-shapes:nth-child(5)::after{
    content: '0.8';
}

.exibition-shaded-shapes:nth-child(6)::after{
    content: '1.0';
} */



.exibition-social-icons-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 9rem;
    height: 9rem;
    padding: 2rem;
    margin: 0rem auto;
    border-radius: var(--border-radius-sm);
    background-color: var(--bg-color-dark-contrast);
}

.exibition-social-icons-wrapper:hover i{
    transform: scale(1.3);
}

.exibition-social-icons-wrapper i{
    font-size: 5rem;
    color: var(--accent-color-primary);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: var(--bouncy-trans);
}

.exibition-shape{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 8rem;
    height: 8rem;
    margin: 0rem 3rem;
}

.exibition-shape:nth-child(1){
    border: dashed 0.3rem var(--accent-color-primary);
}

.exibition-shape:nth-child(2){
    border: solid 0.4rem var(--accent-color-primary);
}

.exibition-shape:nth-child(3){
    border: solid 0.4rem var(--accent-color-primary);
    overflow: hidden;
}

.exibition-shape:nth-child(3)::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    right: -50%;
    background-color: var(--accent-color-primary);
    transform: rotate(45deg);
}

.exibition-shape:nth-child(4){
    border: unset;
    overflow: hidden;
    background-color: var(--accent-color-primary);
    border-right: solid 0.4rem var(--accent-color-primary);
    border-top: solid 0.4rem var(--accent-color-primary);
}

.exibition-shape:nth-child(4)::after{
    content: '';
    position: absolute;
    width: 210%;
    height: 210%;
    bottom: -50%;
    left: -50%;
    border-radius: 40%;
    animation-name: spin;
    animation-duration: 6s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    /* animation: spin 6s ease-in-out infinite; */
    background: var(--bg-color-dark);
}

@keyframes spin{
    0%{
        transform: translateY(0%) rotate(0deg);
    }
    100%{
        transform: translateY(-100%) rotate(500deg);
    }
}

.exibition-txt-wrapper h1{
    font-size: var(--heading-txt-m);
    color: var(--accent-color-primary);
    margin: 0rem;
}

.exibition-txt-wrapper p{
    color: var(--txt-color-lighter);
    margin: 0rem;
}

#exibition-form{
    margin-right: auto;
}

#exibition-form label{
    font-size: 1.5rem;
    color: var(--txt-color-lighter);
    margin-left: 0.5rem;
}

#exibition-form input[type=text]{
    font-size: 1.6rem;
    color: var(--accent-color-primary);
    width: 45rem;
    height: 4rem;
    padding-left: 0.5rem;
    margin: 0.5rem 0rem 2rem 0rem;
    background-color: var(--bg-color-dark-contrast);
    border: solid 2px var(--accent-color-primary);
    border-radius: 0.5rem;
    transition-property: height;
    transition-duration: 0.3s;
    transition-timing-function: var(--bouncy-trans);
}

#exibition-form input[type=text]:focus{
    height: 5.5rem;
    outline: none;
    background-color: var(--bg-color-dark-contrast);
}


#exibition-form input[type=submit]{
    font-size: 1.7rem;
    color: var(--txt-color-lighter);
    width: 15.5rem;
    height: 4rem;
    margin: 1rem 0rem;
    background-color: var(--accent-color-primary);
    border: unset;
    border-radius: 0.5rem;
}

#exibition-form input[type=submit]:hover{
    filter: grayscale(0.4);
}

.theme-icons-block-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.theme-icon-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 6rem;
    height: 6rem;
    padding: 2rem;
    margin: 0rem 3rem 5rem 1rem;
    border-radius: var(--border-radius-sm);
    background-color: var(--bg-color-dark-contrast);
}

.theme-icon-wrapper::after{
    font-size: 1.5rem;
    color: var(--txt-color-light);
    text-align: center;
    position: absolute;
    bottom: -2.5rem;
    left: 0rem;
    right: 0rem;
    transition-property: color;
    transition-duration: 0.3s;
    transition-timing-function: var(--bouncy-trans);
}

.theme-icon-wrapper:hover::after{
    color: var(--accent-color-primary);
}

#theme-icon-light::after{
    content: 'Light';
}

#theme-icon-dark::after{
    content: 'Dark';
}

#theme-icon-amoled::after{
    content: 'Amoled';
}

.theme-icon-wrapper:hover i{
    transform: scale(1.3);
}

.theme-icon-wrapper i{
    font-size: 3.5rem;
    color: var(--accent-color-primary);
    transition-property: transform;
    transition-duration: 0.3s;
    transition-timing-function: var(--bouncy-trans);
}

.work-canvas-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.work-canvas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 160rem;
    min-height: 100rem;
    margin: 2rem 2rem 13rem 2rem;
    border-radius: var(--border-radius-sm);
    box-shadow: var(--std-box-shadow);
    background-color: var(--bg-color-dark);
    background-image: linear-gradient(to right, var(--bg-color-dark), #0e1820);
    overflow: hidden;
}

.work-canvas::before{
    content: '';
    position: absolute;
    bottom: 0rem;
    right: -62%;
    width: 100%;
    height: 100%;
    border: solid 12rem var(--accent-color-primary);
    border-radius: 50%;
}

.work-canvas::after{
    content: '';
    position: absolute;
    left: -10%;
    width: 30rem;
    height: 30rem;
    background-color: var(--accent-color-primary);
    border-radius: 50%;
}

.work-canvas img{
    position: relative;
    z-index: 2;
    width: 110.2rem;
    height: 80.4rem;
    filter: grayscale(1);
    border: solid 0.6rem var(--bg-color-light);
}

.work-canvas p{
    position: relative;
    z-index: 2;
    padding: 0rem 5rem 0rem 5rem;
    margin: 4rem auto 6rem auto;
    width: 50%;
    color: #fff;
    box-shadow: var(--std-box-shadow);
    padding: 2rem 4rem;
    background: rgba(0,0,0, 0.6);
    border-radius: var(--border-radius-sm);
}

.work-canvas p::before{
    content: '';
    position: absolute;
    top: -1rem;
    bottom: -1rem;
    left: 0rem;
    width: 0.7rem;
    background-color: var(--accent-color-primary);
    border-radius: 1rem;
}

.contact-content-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 10rem;
}

.contact-info-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 65rem;
    margin: 0rem  10rem 0rem 0rem;
}

.contact-info-wrapper h1{
    font-size: var(--heading-txt-m);
}

.contact-info-wrapper p a{
    margin-right: 2rem;
}

.contact-info-alt-contact{
    color: var(--accent-color-primary);
    font-weight: 600;
    letter-spacing: 0.3rem;
    margin-top: 0rem;
}

.logo-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: auto;
    height: auto;
}

.logo-wrapper::before{
    content: '';
    position: absolute;
    top: -22%;
    right: -16%;
    width: 80%;
    height: 80%;
    box-shadow: var(--std-box-shadow);
    border: dashed 0.5rem var(--accent-color-primary);
    border-radius: 50%;
}

.logo-wrapper::after{
    content: '';
    position: absolute;
    z-index: -1;
    top: 6%;
    right: 14%;
    width: 80%;
    height: 80%;
    opacity: 0.4;
    background-color: var(--accent-color-primary);
}

.logo-wrapper img{
    position: relative;
    width: 40rem;
    height: 40rem;
}

#bio-txt{
    width: 35%;
}

#bio-txt h1{
    font-size: var(--heading-txt-ms);
}

/*()||||||+++++ME HTML+++++|||||()*/

#bio-content-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#bio-photo-wrapper{
    position: relative;
    margin: 0rem 0rem 0rem 20rem;
}

#bio-photo-wrapper::before{
    content: '';
    position: absolute;
    z-index: -1;
    top: -10%;
    right: -10%;
    width: 100%;
    height: 100%;
    border: dashed 0.4rem var(--accent-color-primary);
}

#bio-photo-wrapper::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: var(--accent-color-primary);
    opacity: 0.3;
}

#bio-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 40rem;
    height: 40rem;
    border: solid 0.6rem var(--bg-color-light);
}

.interests-block{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 75%;
    margin: 10rem auto;
}

.interests-collection{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.interests-canvas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    position: relative;
    margin: 2rem auto;
}

.interests-canvas .interests-canvas-label{
    font-weight: 300;
    margin: 0rem auto 0.5rem 0rem;
}

.interests-canvas h1{
    font-size: var(--heading-txt-xsm);
    color: var(--accent-color-primary);
    margin-bottom: 1rem;
}

.interests-canvas p{
    margin: 0rem;
}

.interests-canvas img{
    width: 30rem;
    height: 30rem;
    border: solid 0.6rem var(--bg-color-light);
}

/*----------Colors----------*/
.hero-txt-highlight{
    color: #fff;
    text-shadow: 0px 3px 0px var(--accent-color-primary),
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1),
                 1px  1px     var(--accent-color-primary), 
                -1px  1px     var(--accent-color-primary), 
                 1px -1px     var(--accent-color-primary);
}

.txt-contrasted{
    color: var(--txt-color-light);
}

.accent-txt-color{
    color: var(--accent-color-primary);
}

.accent-bg-color{
    background-color: var(--accent-color-primary);
}

.pink-txt{
    color: var(--pink);
}

.grey-txt{
    color: var(--grey);
}

.purple-txt{
    color: var(--purple);
}

.green-txt{
    color: var(--green);
}

.blue-txt{
    color: var(--blue);
}

.orange-txt{
    color: var(--orange);
}

.brown-txt{
    color: var(--brown);
}

.yellow-txt{
    color: var(--yellow);
}

.pink-bg{
    background-color: var(--pink);
}

.grey-bg{
    background-color: var(--grey);
}

.purple-bg{
    background-color: var(--purple);
}

.green-bg{
    background-color: var(--green);
}

.blue-bg{
    background-color: var(--blue);
}

.orange-bg{
    background-color: var(--orange);
}

.brown-bg{
    background-color: var(--brown);
}

.yellow-bg{
    background-color: var(--yellow);
}


.gradient-txt {
    /* Fallback: Set a background color. */
    background-color: var(--accent-color-primary);
    
    /* Create the gradient. */
     /* background-image: linear-gradient(
          45deg,
          var(--brown) 20%,
          var(--blue) 20%,
          var(--blue) 40%,
          var(--pink) 40%,
          var(--pink) 60%,
          var(--yellow) 60%,
          var(--yellow) 80%,
          var(--orange) 80%
          ); */

          background-image: linear-gradient( 45deg,
          var(--purple) 20%,
          var(--blue) 20%
          ,var(--blue) 30%,
          var(--pink) 60%,
          var(--yellow) 80%,
          var(--orange) 80% );
    
    background-size: 100%;
    background-repeat: repeat;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
  
  }


/*----------Transitions & Animations----------*/
.fade-in-nav-bar{
    animation-name: fade-in-nav-bar;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* animation-timing-function: var(--bouncy-trans); */
    pointer-events: all;
}

@keyframes fade-in-nav-bar {
    0% {opacity: 0; right: 6rem;}
    100% {opacity: 1; right: 4rem}
}

.fade-out-nav-bar{
    animation-name: fade-out-nav-bar;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
    /* animation-timing-function: var(--bouncy-trans); */
    pointer-events: none;
}

@keyframes fade-out-nav-bar{
    0% {opacity: 1; right: 4rem;}
    100% {opacity: 0; right: 6rem}
}

.hidden{
    opacity: 0;
    pointer-events: none;
}

.top-nav-btn-icon-transition{
    background-color: #fff;
    width: 2.5rem;
    margin: -0.1rem -0.1rem;
    transform: rotate(45deg);
}

.bottom-nav-btn-icon-transition{
    background-color: #fff;
    width: 2.5rem;
    margin: 0rem 0rem;
    transform: rotate(-45deg);
}

.animate-img-in{
    animation-name: animate-img-in;
    animation-duration: 0.3s;
    animation-fill-mode: forwards;
}

@keyframes animate-img-in {
    0% {filter: grayscale(1);}
    100% {filter: grayscale(0);}
}

.animate-img-out{
    animation-name: animate-img-out;
    animation-duration: 2s;
    animation-fill-mode: forwards;
}

@keyframes animate-img-out {
    0% {filter: grayscale(0);}
    100% {filter: grayscale(1);}
}

/*----------Misc----------*/
.p-scaler{
    font-size: 1.75em;
    font-weight: 600;
    line-height: 1.5;
}

.gridded-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--heading-txt-m);
    color: var(--accent-color-primary);
    position: relative;
    padding: 0rem 5rem 0rem 5rem;
    margin: 4rem auto 6rem 15rem;
    border-top: dashed 1px var(--accent-color-primary);
    border-bottom: dashed 1px var(--accent-color-primary);
}

.gridded-heading::before{
    content: '';
    position: absolute;
    left: 1.3rem;
    width: 2rem;
    height: 165%;
    border-left: dashed 1px var(--accent-color-primary);
    border-right: dashed 1px var(--accent-color-primary);
    transform: rotate(180deg);
}

.gridded-heading::after{
    content: '';
    position: absolute;
    right: 3.3rem;
    width: 0.1rem;
    height: 68%;
    border-left: dashed 1px var(--accent-color-primary);
    transform: rotate(180deg);
    bottom: -33%;
}

.no-padding-top{
    padding-top: 0rem;
}

/*----------Media Queries----------*/

/*LANDSCAPE: MDPI laptop*/
@media only screen 
and (max-device-width: 1500px) 
and (orientation: landscape) {
    html{
        font-size: 9px; /*56.25%*/
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    html{
        font-size: 8px;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    html {
    font-size: 10px; /*762.5*/
        }
    }

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-device-width: 800px)
and (orientation: portrait){
    html {
        font-size: 10px; /*62.5%*/
        }
    }

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-device-width: 1100px)
and (orientation: landscape){
    html {
        font-size: 7px; /*43.75%*/
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    html{
        font-size: 6px; /*37.5%*/
    }
}

/* PORTRAIT: HD + QHD Non-Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 400px) 
and (orientation: portrait) {
    html{
       font-size: 5px;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    html{
        font-size: 9px; /*56.25%*/
    }
}

/* LANDSCAPE: Small phones like iPhone SE */
@media only screen 
and (max-device-width: 600px) 
and (orientation: landscape) {
    html{
        font-size: 6px;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    body{
        padding: 0rem 5.25rem; /*42px*/
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    body {
    padding: 3.5rem; /*42px*/
        }
    }

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-device-width: 800px)
and (orientation: portrait){
    body {
        padding: 4.2rem; /*42px*/
        }
    }

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-device-width: 1100px)
and (orientation: landscape){
    body{
        padding: 0rem 6rem; /*42px*/
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    body{
        padding: 1rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    :root {
    --heading-txt-m: 4rem;
    --heading-txt-ms: 3.5rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    :root{
        --heading-txt-ms: 4rem;
        --heading-txt-xsm: 3rem;

    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    :root{
        --heading-txt-ms: 4rem;
    }
}

/*()||||||+++++NAVIGATION BUTTON+++++|||||()*/

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #nav-menu-btn-wrapper{
        top: 0.5rem;
        right: 0rem;
        left: unset;
        margin-right: 5rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    #nav-menu-btn-wrapper{
        top: 0.5rem;
        left: unset;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #nav-menu-label{
        font-size: 2.6rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .nav-menu-btn-lines{
        width: 5.5rem;
        height: 0.3rem;
        background-color: var(--bg-color-light);
        /* margin: 0.7rem 0rem; */
    }
}


/*()||||||+++++NAVIGATION MENU+++++|||||()*/

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    #nav-menu-wrapper {
    width: 44rem;
    height: 50rem;
        }
    }

/*PORTRAIT: Smaller tablets e.g. Ipad*/
/* @media (max-device-width: 800px)
and (orientation: portrait){
    #nav-menu-wrapper {
    width: 44rem;
        }
    } */

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #nav-menu-wrapper{
        width: 100vw;
        height: 100vh;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    #nav-menu-wrapper{
        width: 100vw;
        height: auto;
        min-width: unset;
        min-height: 100vh;
        top: 0rem;
        bottom: 0rem;
        left: unset;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    @keyframes fade-in-nav-bar {
        0% {opacity: 0; right: 6rem;}
        100% {opacity: 1; right: 0rem}
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    @keyframes fade-out-nav-bar {
        0% {opacity: 1; right: 0rem;}
        100% {opacity: 0; right: 6rem}
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
/* @media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    #nav-menu{
        font-size: 7.2rem;
    }
} */

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #nav-menu-wrapper{
        width: 100vw;
        height: 100vh;
        min-width: 100vw;
        top: 0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #nav-menu{
        padding: 60% 1.9rem 4rem 4rem;
    }
}

/* PORTRAIT: Small phones like iPhone SE */
/* @media only screen 
and (max-device-width: 400px) 
and (orientation: portrait) {
    #nav-menu{
        padding: 8rem 2rem 1rem 2rem;
    }
} */

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    #nav-menu{
        padding-top: 0.5rem;
    }
}


/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .nav-menu-subsection-style{
        padding: unset;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    .nav-menu-site-link {
        height: auto;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .nav-menu-site-link{
        font-size: 4.2rem;
        padding: 2rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #nav-social a:nth-child(1){
        margin-left: 0rem;
        padding-left: 0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #nav-call-to-action{
        font-size: 2.6rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .nav-contact{
        font-size: 3rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #nav-social{
        font-size: 2.5rem;
    }
}

/*()||||||+++++HERO INTRO+++++|||||()*/

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1100px)
and (orientation: portrait){
    #hero-intro-txt-wrapper h1 {
    font-size: 6rem;
        }
    }

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    #hero-intro-txt-wrapper h1{
        font-size: 10.2rem;
    }
}

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-device-width: 800px)
and (orientation: portrait){
    #hero-intro-txt-wrapper h1 {
    font-size: 5rem;
        }
    }

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-device-width: 1100px)
and (orientation: landscape){
    #hero-intro-txt-wrapper h1 {
    font-size: 6.6rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #hero-intro-txt-wrapper h1{
        font-size: 8rem;
        text-align: center;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    #hero-intro-txt-wrapper h1{
        font-size: 4.0rem;
    }
}

/* PORTRAIT: Low px density sub 4" phone e.g. iPhone SE phone */
@media only screen 
and (max-device-width: 360px) 
and (orientation: portrait) {
    #hero-intro-txt-wrapper h1{
        font-size: 3.2rem;
    }
}

/*LANDSCAPE: Low px density sub 4" phone e.g. iPhone SE phone */
@media only screen 
and (max-device-width: 700px) 
and (orientation: landscape) {
    #hero-intro-txt-wrapper h1{
        font-size: 4.0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    @keyframes fade-in-nav-bar {
        0% {opacity: 0; right: 6rem;}
        100% {opacity: 1; right: 0rem}
    }
}

@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    @keyframes fade-out-nav-bar{
        0% {opacity: 1; right: 0rem;}
        100% {opacity: 0; right: 6rem}
    }
}


/*()||||||+++++CUSTOMIZE+++++|||||()*/
/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    #customize {
        flex-direction: column;
        }
    }

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    #customize{
        flex-direction: column;
    }
}

/* LANDSCAPE: Small phones like iPhone SE */
@media only screen 
and (max-device-width: 600px) 
and (orientation: landscape) {
    #customize{
        flex-direction: column;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 400px) 
and (orientation: portrait) {
    #theme-switcher-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 400px) 
and (orientation: portrait) {
    .color-bar{
        width: 12rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .customizations-btn-wrapper {
        margin: 0rem 0rem 6rem 0rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 400px) 
and (orientation: portrait) {
    .customizations-btn-wrapper{
        width: 95%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: landscape){
    .exibition-block{
        margin: 0rem;
        }
    }

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-device-width: 1100px)
and (orientation: landscape){
    .exibition-block{
        margin-right: 0rem;
        }
    }

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    #theme-switcher-wrapper {
    margin-bottom: 2.5rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .exibition-block-wrapper{
        padding: 0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .exibition-block{
        width: auto;
        padding: 0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .exibition-block-partition{
        margin: 5.5rem 0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .exibition-social-icons-wrapper{
        width: 7.7rem;
        height: 7.7rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .work-canvas {
        width: 100%;
        min-height:auto;
        padding-top: 4rem;
        padding-bottom: 4rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .work-canvas {
        width: 95%;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    .work-canvas{
        width: 100%;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .work-canvas::before {
        width: 60rem;
        height: 60rem;
        right: -55%;
        border: solid 9rem var(--accent-color-primary);
        }
    }

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    .work-canvas::before{
        right: -47%;
        width: 90rem;
        height: 90rem;
        border-width: 15rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .work-canvas::before{
        bottom: -20%;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .work-canvas::after {
        left: -20%;
        }
    }

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-device-width: 800px)
and (orientation: portrait){
    .work-canvas::after{
        top: -18%;
        left: -24%;
    }
}

@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .work-canvas::after{
        top: -14%;
        left: -30%;
    }
}

@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    .work-canvas::before{
        left: -132%;
        width: 120rem;
        height: 120rem;
        border-width: 12rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .work-canvas img{
        width: 59rem;
        height: 43.7rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .work-canvas img{
        width: 55rem;
        height: 40.15rem;
    }
}

/* PORTRAIT: HD + QHD Non-Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 400px) 
and (orientation: portrait) {
    .work-canvas img{
        width: 47rem;
        height: 34.3rem;
    }
}

@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    .work-canvas img{
        width: 58rem;
        height: 42rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .work-canvas p{
        width: 85%;
        margin-bottom: 2rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .work-canvas p{
        padding: 2rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    .work-canvas p{
        width: 85%;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .contact-info-wrapper{
        width: 50%;
        margin-right: 0rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .contact-content-wrapper{
        flex-direction: column-reverse;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .contact-info-wrapper{
        width: 80%;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    .contact-info-wrapper{
        width: 45%;
        margin: 0rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    .contact-info-wrapper{
        width: 60%;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .logo-wrapper img{
        width: 30rem;
        height: 30rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .logo-wrapper img{
        margin-bottom: 3rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    .logo-wrapper img{
        width: 30rem;
        height: 30rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    #bio-content-wrapper{
        flex-direction: column-reverse;
        }
    }

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    #bio-content-wrapper{
        flex-direction: column-reverse;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    #bio-txt{
        width: 75%;
        }
    }

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-device-width: 800px)
and (orientation: portrait){
    #bio-txt{
        width: 95%;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #bio-txt{
        width: 88%;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    #bio-txt{
        width: 55%;
    }
}

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-device-width: 1100px)
and (orientation: landscape){
    #bio-txt{
        width: 60%;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    #bio-txt{
        width: 80%;
    }
}
    

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    #bio-photo-wrapper{
        margin: 0rem 0rem 5rem 0rem;
        }
    }

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    #bio-photo-wrapper{
        margin-left: 10rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    #bio-photo{
        width: 30rem;
        height: 30rem;
    }
}
 
/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    #bio-photo{
        width: 35rem;
        height: 35rem;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    .interests-block{
        width: 100%;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .interests-collection{
        flex-direction: column;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    .interests-collection{
        flex-direction: column;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .interests-block{
        width: 100%;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .interests-canvas img{
        width: 50rem;
        height: 50rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    .interests-canvas img{
       width: 50rem;
       height: 50rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .nav-menu-elements-scaler{
        font-size: 10px;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .p-scaler {
        font-size: 1.7rem;
        }
    }

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    .p-scaler{
        font-size: 2rem;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    .p-scaler{
        font-size: 2.2rem;
    }
}

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-device-width: 1100px)
and (orientation: landscape){
    .p-scaler{
        font-size: 2.1rem;
        }
    }

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 600px) 
and (orientation: landscape) {
    .p-scaler{
        font-size: 2.7rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .p-scaler{
        font-size: 2.7rem;
    }
}

/* LANDSCAPE: Small phones like iPhone SE */
@media only screen 
and (max-device-width: 400px) 
and (orientation: portrait) {
    .p-scaler{
       font-size: 3.1rem
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .gridded-heading{
        margin: 1rem auto 6rem auto;
    }
}