
/*+++++++++++++++++++++++++++++++++BROWSER QUERIES+++++++++++++++++++++++++++++++++*/

/*LANDSCAPE: MDPI laptop*/
@media only screen 
and (max-width: 1920px) 
and (orientation: landscape) {
    html{
        font-size: 52%;
    }
}

/*LANDSCAPE: MDPI laptop*/
@media only screen 
and (max-width: 1500px) 
and (orientation: landscape) {
    html{
        font-size: 9px; /*56.25%*/
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    html{
        font-size: 8px;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    html {
    font-size: 10px; /*762.5*/
        }
    }

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-width: 800px)
and (orientation: portrait){
    html {
        font-size: 10px; /*62.5%*/
        }
    }

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-width: 1100px)
and (orientation: landscape){
    html {
        font-size: 7px; /*43.75%*/
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    html{
        font-size: 6px; /*37.5%*/
    }
}

/* PORTRAIT: HD + QHD Non-Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 400px) 
and (orientation: portrait) {
    html{
       font-size: 5px;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    html{
        font-size: 9px; /*56.25%*/
    }
}

/* LANDSCAPE: Small phones like iPhone SE */
@media only screen 
and (max-width: 600px) 
and (orientation: landscape) {
    html{
        font-size: 6px;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    body{
        padding: 0rem 5.25rem; /*42px*/
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    body {
    padding: 3.5rem; /*42px*/
        }
    }

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-width: 800px)
and (orientation: portrait){
    body {
        padding: 4.2rem; /*42px*/
        }
    }

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-width: 1100px)
and (orientation: landscape){
    body{
        padding: 0rem 6rem; /*42px*/
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    body{
        padding: 1rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    :root {
    --heading-txt-m: 6rem;
    --heading-txt-ms: 3.5rem;
    --canvas-img-width: 90%;
        }
    }

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    :root {
        --canvas-img-width: 80%;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    :root{
        --heading-txt-m: 7rem;
        --heading-txt-ms: 4rem;
        --heading-txt-xsm: 3rem;
        --canvas-img-width: 95%;
        --icon-wrapper-sq-m: 8.5rem;

    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    :root{
        --heading-txt-ms: 4rem;
    }
}

/*()||||||+++++NAVIGATION BUTTON+++++|||||()*/
/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #nav-menu-btn .top-nav-btn-icon-transition{
        margin: -1.05rem -0.1rem;
    }
}

/*()||||||+++++NAVIGATION BUTTON+++++|||||()*/
/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #nav-menu-link-wrapper{
        margin-bottom: 8rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .nav-bg-handler{
        color: var(--txt-color);
        background: var(--nav-bg-color);
        /* backdrop-filter: blur(14px); */
        backdrop-filter: blur(20px) saturate(180%);
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .nav-bg-handler{
        color: var(--txt-color);
        background: var(--nav-bg-color);
        /* backdrop-filter: blur(14px); */
        backdrop-filter: blur(20px) saturate(180%);
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #nav-contact-info h1{
        color: var(--txt-color);
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .hover-highlightable-nav-menu::after{
        background: var(--txt-color);
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .hover-highlightable-nav-menu::after{
        background: var(--txt-color);
    }
}


/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #nav-menu-btn-wrapper{
        top: 4rem;
        right: 0rem;
        left: unset;
        margin-right: 3rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    #nav-menu-btn-wrapper{
        top: 0.5rem;
        left: unset;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #nav-menu-label{
        font-size: 2.6rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .nav-menu-btn-lines{
        width: 6.5rem;
        height: 0.6rem;
        background-color: var(--bg-color-light);
        margin: 0.7rem 0rem;
    }
}


/*()||||||+++++NAVIGATION MENU+++++|||||()*/

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    #nav-menu-wrapper {
    width: 44rem;
    min-height: 50rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #nav-menu-wrapper{
        width: 100vw;
        height: 100vh;
        border-radius: initial;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    #nav-menu-wrapper{
        width: 100vw;
        height: auto;
        min-width: unset;
        min-height: 100vh;
        top: 0rem;
        bottom: 0rem;
        left: unset;
        border-radius: initial;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    @keyframes fade-in-nav-bar {
        0% {opacity: 0; right: 6rem;}
        100% {opacity: 1; right: 0rem}
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    @keyframes fade-out-nav-bar {
        0% {opacity: 1; right: 0rem;}
        100% {opacity: 0; right: 6rem}
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
/* @media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    #nav-menu{
        font-size: 7.2rem;
    }
} */

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #nav-menu-wrapper{
        width: 100vw;
        height: 100vh;
        min-width: 100vw;
        top: 0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #nav-menu{
        padding: 62% 1.9rem 4rem 4rem;
    }
}

/* PORTRAIT: Small phones like iPhone SE (350px)*/
@media only screen 
and (max-width: 350px) 
and (orientation: portrait) {
    #nav-menu{
        padding: 50% 2rem 1rem 2rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    #nav-menu{
        padding-top: 0.5rem;
    }
}


/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .nav-menu-subsection-style{
        padding: unset;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .nav-menu-site-link {
        height: auto;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .nav-menu-site-link{
        font-size: 4.2rem;
        padding: 2rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #nav-social a:nth-child(1){
        margin-left: 0rem;
        padding-left: 0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #nav-call-to-action{
        font-size: 2.6rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .nav-contact{
        font-size: 3rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #nav-social{
        font-size: 2.5rem;
    }
}

/*()||||||+++++HERO INTRO+++++|||||()*/

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1100px)
and (orientation: portrait){
    #home-txt-wrapper h1 {
    font-size: 6rem;
        }
    }

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    #home-txt-wrapper h1{
        font-size: 10.2rem;
    }
}

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-width: 800px)
and (orientation: portrait){
    #home-txt-wrapper h1 {
    font-size: 5rem;
        }
    }

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-width: 1100px)
and (orientation: landscape){
    #home-txt-wrapper h1 {
    font-size: 6.6rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #home-txt-wrapper h1{
        font-size: 5.5rem;
        text-align: center;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    #home-txt-wrapper h1{
        font-size: 4.0rem;
    }
}

/* PORTRAIT: Low px density sub 4" phone e.g. iPhone SE phone */
@media only screen 
and (max-width: 360px) 
and (orientation: portrait) {
    #home-txt-wrapper h1{
        font-size: 4rem;
    }
}

/*LANDSCAPE: Low px density sub 4" phone e.g. iPhone SE phone */
@media only screen 
and (max-width: 700px) 
and (orientation: landscape) {
    #home-txt-wrapper h1{
        font-size: 4.0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    @keyframes fade-in-nav-bar {
        0% {opacity: 0; right: 6rem;}
        100% {opacity: 1; right: 0rem}
    }
}

@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    @keyframes fade-out-nav-bar{
        0% {opacity: 1; right: 0rem;}
        100% {opacity: 0; right: 6rem}
    }
}


/*()||||||+++++CUSTOMIZE+++++|||||()*/
/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    #customize {
        flex-direction: column;
        }
    }

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    #customize{
        flex-direction: column;
    }
}

/* LANDSCAPE: Small phones like iPhone SE */
@media only screen 
and (max-width: 600px) 
and (orientation: landscape) {
    #customize{
        flex-direction: column;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 400px) 
and (orientation: portrait) {
    #theme-switcher-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .color-btn{
        width: 8rem;
        height: 8rem
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
/* @media only screen 
and (max-width: 400px) 
and (orientation: portrait) {
    .color-btn{
        width: 12rem;
    }
} */

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .customizations-btn-wrapper {
        margin: 0rem 0rem 6rem 0rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 400px) 
and (orientation: portrait) {
    .customizations-btn-wrapper{
        width: 86%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .customizations-btn-wrapper form select{
        font-size: 3.2rem;
        width: 40rem;
        height: 7.5rem;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: landscape){
    .exibition-block{
        margin: 0rem;
        }
    }

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-width: 1100px)
and (orientation: landscape){
    .exibition-block{
        margin-right: 0rem;
        }
    }

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    #theme-switcher-wrapper {
    margin-bottom: 2.5rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .theme-icon-wrapper::after{
        font-size: 2.4rem;
        bottom: -3rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .exibition-block-wrapper{
        padding: 0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .exibition-block{
        width: auto;
        padding: 0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .exibition-block-partition{
        margin: 5.5rem 0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .exibition-social-icons-wrapper{
        width: 7.7rem;
        height: 7.7rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .work-canvas {
        width: 100%;
        min-height:auto;
        padding-top: 4rem;
        padding-bottom: 4rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .work-canvas {
        width: 95%;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    .work-canvas{
        width: 100%;
    }
}

@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .work-canvas{
        padding-bottom: 0rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .work-canvas::before {
        /* width: 60rem;
        height: 60rem;
        right: -55%; */
        border: solid 9rem var(--accent-color-primary);
        }
    }

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    .work-canvas::before{
        border-width: 15rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .work-canvas::before{
        bottom: -20%;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .work-canvas::after {
        left: -20%;
        }
    }

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-width: 800px)
and (orientation: portrait){
    .work-canvas::after{
        top: -18%;
        left: -24%;
    }
}

@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .work-canvas::after{
        top: -13%;
        left: -25%;
    }
}

@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .work-canvas::before{
        border-width: 12rem;
    }
}

@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .work-canvas::after{
        left: -25%;
        width: 25rem;
        height: 25rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
/* @media (max-width: 1400px)
and (orientation: portrait){
    .work-canvas-img-wrapper img{
        width: 59rem;
        height: 43.7rem;
        }
    } */

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
/* @media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .work-canvas-img-wrapper img{
        width: 55rem;
        height: 40.15rem;
    }
} */

/* PORTRAIT: HD + QHD Non-Phablet(should cover tall aspect ratios also) */
/* @media only screen 
and (max-width: 400px) 
and (orientation: portrait) {
    .work-canvas-img-wrapper img{
        width: 47rem;
        height: 34.3rem;
    }
} */

/* @media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .work-canvas-img-wrapper img{
        filter: unset;
    }
} */

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .work-canvas p{
        width: 70%;
        margin-bottom: 2rem;
        position: relative;
        bottom: unset;
        right: unset;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .work-canvas p{
        font-weight: 200;
        width: 85%;
        padding: 2rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .work-canvas p{
        position: relative;
        right: unset;
        bottom: unset;
        width: 85%;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .contact-info-wrapper{
        width: 50%;
        margin-right: 0rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .contact-content-wrapper{
        flex-direction: column-reverse;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .contact-info-wrapper{
        width: 80%;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    .contact-info-wrapper{
        width: 45%;
        margin: 0rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .contact-info-wrapper{
        width: 60%;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .logo-wrapper img{
        width: 30rem;
        height: 30rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .logo-wrapper img{
        margin-bottom: 3rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .logo-wrapper img{
        width: 30rem;
        height: 30rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #footer .footer-txt{
        font-weight: 300;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #bio{
        padding-top: 21rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    #bio-content-wrapper{
        flex-direction: column-reverse;
        }
    }

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    #bio-content-wrapper{
        flex-direction: column-reverse;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    #bio-txt{
        width: 75%;
        }
    }

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-width: 800px)
and (orientation: portrait){
    #bio-txt{
        width: 95%;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #bio-txt{
        width: 88%;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    #bio-txt{
        width: 50%;
    }
}

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-width: 1100px)
and (orientation: landscape){
    #bio-txt{
        width: 60%;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    #bio-txt{
        width: 80%;
    }
}
    

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    #bio-photo-wrapper{
        margin: 0rem 0rem 5rem 0rem;
        }
    }

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    #bio-photo-wrapper{
        margin-left: 10rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    #bio-photo{
        width: 50rem;
        height: 50rem;
    }
}
 
/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    #bio-photo{
        width: 45rem;
        height: 45rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #bio-photo{
        width: 50rem;
        height: 50rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    #bio-photo{
        width: 50rem;
        height: 50rem;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    .interests-block{
        width: 100%;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .interests-collection{
        flex-direction: column;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .interests-collection{
        flex-direction: column;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .interests-block{
        width: 100%;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .interests-canvas{
        margin-bottom: 7rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .interests-canvas{
        margin: 2rem auto 13rem auto;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .interests-canvas img{
        width: 50rem;
        height: 50rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .interests-canvas img{
        width: 50rem;
        height: 50rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .interests-canvas img{
       width: 50rem;
       height: 50rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .nav-menu-elements-scaler{
        font-size: 10px;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    h1 {
        font-size: 2.7rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .p-scaler {
        font-size: 1.7rem;
        }
    }

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    .p-scaler{
        font-size: 2rem;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    .p-scaler{
        font-size: 2.2rem;
    }
}

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-width: 1100px)
and (orientation: landscape){
    .p-scaler{
        font-size: 2.1rem;
        }
    }

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 600px) 
and (orientation: landscape) {
    .p-scaler{
        font-size: 2.7rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .p-scaler{
        font-size: 2.7rem;
    }
}

/* LANDSCAPE: Small phones like iPhone SE */
@media only screen 
and (max-width: 400px) 
and (orientation: portrait) {
    .p-scaler{
       font-size: 3.1rem
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .gridded-heading{
        margin: 1rem auto 6rem auto;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .gridded-heading{
        margin: 4rem auto 6rem 5rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .no-display-mobile{
        display: none;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .no-display-mobile{
        display: none;
    }
}
