/*++++++++++++++++++++++++++++ DEVICES MEDIA QUERIES +++++++++++++++++++++++++++++++++++++++++++*/

/*LANDSCAPE: MDPI laptop*/
@media only screen 
and (max-device-width: 1500px) 
and (orientation: landscape) {
    html{
        font-size: 9px; /*56.25%*/
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    html{
        font-size: 8px;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    html {
    font-size: 10px; /*762.5*/
        }
    }

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-device-width: 800px)
and (orientation: portrait){
    html {
        font-size: 10px; /*62.5%*/
        }
    }

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-device-width: 1100px)
and (orientation: landscape){
    html {
        font-size: 7px; /*43.75%*/
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    html{
        font-size: 6px; /*37.5%*/
    }
}

/* PORTRAIT: HD + QHD Non-Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 400px) 
and (orientation: portrait) {
    html{
       font-size: 5px;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    html{
        font-size: 9px; /*56.25%*/
    }
}

/* LANDSCAPE: Small phones like iPhone SE */
@media only screen 
and (max-device-width: 600px) 
and (orientation: landscape) {
    html{
        font-size: 6px;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    body{
        padding: 0rem 5.25rem; /*42px*/
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    body {
    padding: 3.5rem; /*42px*/
        }
    }

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-device-width: 800px)
and (orientation: portrait){
    body {
        padding: 4.2rem; /*42px*/
        }
    }

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-device-width: 1100px)
and (orientation: landscape){
    body{
        padding: 0rem 6rem; /*42px*/
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    body{
        padding: 1rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    :root {
    --heading-txt-m: 4rem;
    --heading-txt-ms: 3.5rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    :root{
        --heading-txt-ms: 4rem;
        --heading-txt-xsm: 3rem;

    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    :root{
        --heading-txt-ms: 4rem;
    }
}

/*()||||||+++++NAVIGATION BUTTON+++++|||||()*/

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #nav-menu-btn-wrapper{
        top: 0.5rem;
        right: 0rem;
        left: unset;
        margin-right: 5rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    #nav-menu-btn-wrapper{
        top: 0.5rem;
        left: unset;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #nav-menu-label{
        font-size: 2.6rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .nav-menu-btn-lines{
        width: 5.5rem;
        height: 0.3rem;
        background-color: var(--bg-color-light);
        /* margin: 0.7rem 0rem; */
    }
}


/*()||||||+++++NAVIGATION MENU+++++|||||()*/

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    #nav-menu-wrapper {
    width: 44rem;
    min-height: 50rem;
        }
    }

/*PORTRAIT: Smaller tablets e.g. Ipad*/
/* @media (max-device-width: 800px)
and (orientation: portrait){
    #nav-menu-wrapper {
    width: 44rem;
        }
    } */

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #nav-menu-wrapper{
        width: 100vw;
        height: 100vh;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    #nav-menu-wrapper{
        width: 100vw;
        height: auto;
        min-width: unset;
        min-height: 100vh;
        top: 0rem;
        bottom: 0rem;
        left: unset;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    @keyframes fade-in-nav-bar {
        0% {opacity: 0; right: 6rem;}
        100% {opacity: 1; right: 0rem}
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    @keyframes fade-out-nav-bar {
        0% {opacity: 1; right: 0rem;}
        100% {opacity: 0; right: 6rem}
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
/* @media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    #nav-menu{
        font-size: 7.2rem;
    }
} */

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #nav-menu-wrapper{
        width: 100vw;
        height: 100vh;
        min-width: 100vw;
        top: 0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #nav-menu{
        padding: 60% 1.9rem 4rem 4rem;
    }
}

/* PORTRAIT: Small phones like iPhone SE */
/* @media only screen 
and (max-device-width: 400px) 
and (orientation: portrait) {
    #nav-menu{
        padding: 8rem 2rem 1rem 2rem;
    }
} */

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    #nav-menu{
        padding-top: 0.5rem;
    }
}


/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .nav-menu-subsection-style{
        padding: unset;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    .nav-menu-site-link {
        height: auto;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .nav-menu-site-link{
        font-size: 4.2rem;
        padding: 2rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #nav-social a:nth-child(1){
        margin-left: 0rem;
        padding-left: 0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #nav-call-to-action{
        font-size: 2.6rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .nav-contact{
        font-size: 3rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #nav-social{
        font-size: 2.5rem;
    }
}

/*()||||||+++++HERO INTRO+++++|||||()*/

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1100px)
and (orientation: portrait){
    #home-txt-wrapper h1 {
    font-size: 6rem;
        }
    }

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    #home-txt-wrapper h1{
        font-size: 10.2rem;
    }
}

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-device-width: 800px)
and (orientation: portrait){
    #home-txt-wrapper h1 {
    font-size: 5rem;
        }
    }

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-device-width: 1100px)
and (orientation: landscape){
    #home-txt-wrapper h1 {
    font-size: 6.6rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #home-txt-wrapper h1{
        font-size: 8rem;
        text-align: center;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    #home-txt-wrapper h1{
        font-size: 4.0rem;
    }
}

/* PORTRAIT: Low px density sub 4" phone e.g. iPhone SE phone */
@media only screen 
and (max-device-width: 360px) 
and (orientation: portrait) {
    #home-txt-wrapper h1{
        font-size: 3.2rem;
    }
}

/*LANDSCAPE: Low px density sub 4" phone e.g. iPhone SE phone */
@media only screen 
and (max-device-width: 700px) 
and (orientation: landscape) {
    #home-txt-wrapper h1{
        font-size: 4.0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    @keyframes fade-in-nav-bar {
        0% {opacity: 0; right: 6rem;}
        100% {opacity: 1; right: 0rem}
    }
}

@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    @keyframes fade-out-nav-bar{
        0% {opacity: 1; right: 0rem;}
        100% {opacity: 0; right: 6rem}
    }
}


/*()||||||+++++CUSTOMIZE+++++|||||()*/
/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    #customize {
        flex-direction: column;
        }
    }

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    #customize{
        flex-direction: column;
    }
}

/* LANDSCAPE: Small phones like iPhone SE */
@media only screen 
and (max-device-width: 600px) 
and (orientation: landscape) {
    #customize{
        flex-direction: column;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 400px) 
and (orientation: portrait) {
    #theme-switcher-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 400px) 
and (orientation: portrait) {
    .color-bar{
        width: 12rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .customizations-btn-wrapper {
        margin: 0rem 0rem 6rem 0rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 400px) 
and (orientation: portrait) {
    .customizations-btn-wrapper{
        width: 95%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .customizations-btn-wrapper form select{
        width: 40rem;
        height: 6.5rem;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: landscape){
    .exibition-block{
        margin: 0rem;
        }
    }

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-device-width: 1100px)
and (orientation: landscape){
    .exibition-block{
        margin-right: 0rem;
        }
    }

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    #theme-switcher-wrapper {
    margin-bottom: 2.5rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .exibition-block-wrapper{
        padding: 0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .exibition-block{
        width: auto;
        padding: 0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .exibition-block-partition{
        margin: 5.5rem 0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .exibition-social-icons-wrapper{
        width: 7.7rem;
        height: 7.7rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .work-canvas {
        width: 100%;
        min-height:auto;
        padding-top: 4rem;
        padding-bottom: 4rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .work-canvas {
        width: 95%;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    .work-canvas{
        width: 100%;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .work-canvas::before {
        width: 60rem;
        height: 60rem;
        right: -55%;
        border: solid 9rem var(--accent-color-primary);
        }
    }

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    .work-canvas::before{
        right: -47%;
        width: 90rem;
        height: 90rem;
        border-width: 15rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .work-canvas::before{
        bottom: -20%;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .work-canvas::after {
        left: -20%;
        }
    }

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-device-width: 800px)
and (orientation: portrait){
    .work-canvas::after{
        top: -18%;
        left: -24%;
    }
}

@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .work-canvas::after{
        top: -14%;
        left: -30%;
    }
}

@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    .work-canvas::before{
        left: -132%;
        width: 120rem;
        height: 120rem;
        border-width: 12rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .work-canvas img{
        width: 59rem;
        height: 43.7rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .work-canvas img{
        width: 55rem;
        height: 40.15rem;
    }
}

/* PORTRAIT: HD + QHD Non-Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 400px) 
and (orientation: portrait) {
    .work-canvas img{
        width: 47rem;
        height: 34.3rem;
    }
}

@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    .work-canvas img{
        width: 58rem;
        height: 42rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .work-canvas p{
        width: 85%;
        margin-bottom: 2rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .work-canvas p{
        padding: 2rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    .work-canvas p{
        width: 85%;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .contact-info-wrapper{
        width: 50%;
        margin-right: 0rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .contact-content-wrapper{
        flex-direction: column-reverse;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .contact-info-wrapper{
        width: 80%;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    .contact-info-wrapper{
        width: 45%;
        margin: 0rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    .contact-info-wrapper{
        width: 60%;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .logo-wrapper img{
        width: 30rem;
        height: 30rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .logo-wrapper img{
        margin-bottom: 3rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    .logo-wrapper img{
        width: 30rem;
        height: 30rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    #bio-content-wrapper{
        flex-direction: column-reverse;
        }
    }

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    #bio-content-wrapper{
        flex-direction: column-reverse;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    #bio-txt{
        width: 75%;
        }
    }

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-device-width: 800px)
and (orientation: portrait){
    #bio-txt{
        width: 95%;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    #bio-txt{
        width: 88%;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    #bio-txt{
        width: 55%;
    }
}

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-device-width: 1100px)
and (orientation: landscape){
    #bio-txt{
        width: 60%;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    #bio-txt{
        width: 80%;
    }
}
    

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    #bio-photo-wrapper{
        margin: 0rem 0rem 5rem 0rem;
        }
    }

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    #bio-photo-wrapper{
        margin-left: 10rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    #bio-photo{
        width: 30rem;
        height: 30rem;
    }
}
 
/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    #bio-photo{
        width: 35rem;
        height: 35rem;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    .interests-block{
        width: 100%;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .interests-collection{
        flex-direction: column;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    .interests-collection{
        flex-direction: column;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .interests-block{
        width: 100%;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .interests-canvas img{
        width: 50rem;
        height: 50rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 900px) 
and (orientation: landscape) {
    .interests-canvas img{
       width: 50rem;
       height: 50rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .nav-menu-elements-scaler{
        font-size: 10px;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .p-scaler {
        font-size: 1.7rem;
        }
    }

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    .p-scaler{
        font-size: 2rem;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-device-width: 1400px) 
and (orientation: landscape) {
    .p-scaler{
        font-size: 2.2rem;
    }
}

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-device-width: 1100px)
and (orientation: landscape){
    .p-scaler{
        font-size: 2.1rem;
        }
    }

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 600px) 
and (orientation: landscape) {
    .p-scaler{
        font-size: 2.7rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-device-width: 500px) 
and (orientation: portrait) {
    .p-scaler{
        font-size: 2.7rem;
    }
}

/* LANDSCAPE: Small phones like iPhone SE */
@media only screen 
and (max-device-width: 400px) 
and (orientation: portrait) {
    .p-scaler{
       font-size: 3.1rem
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-device-width: 1400px)
and (orientation: portrait){
    .gridded-heading{
        margin: 1rem auto 6rem auto;
    }
}

/*+++++++++++++++++++++++++++++++++BROWSER QUERIES+++++++++++++++++++++++++++++++++*/

/*LANDSCAPE: MDPI laptop*/
@media only screen 
and (max-width: 1500px) 
and (orientation: landscape) {
    html{
        font-size: 9px; /*56.25%*/
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    html{
        font-size: 8px;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    html {
    font-size: 10px; /*762.5*/
        }
    }

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-width: 800px)
and (orientation: portrait){
    html {
        font-size: 10px; /*62.5%*/
        }
    }

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-width: 1100px)
and (orientation: landscape){
    html {
        font-size: 7px; /*43.75%*/
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    html{
        font-size: 6px; /*37.5%*/
    }
}

/* PORTRAIT: HD + QHD Non-Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 400px) 
and (orientation: portrait) {
    html{
       font-size: 5px;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    html{
        font-size: 9px; /*56.25%*/
    }
}

/* LANDSCAPE: Small phones like iPhone SE */
@media only screen 
and (max-width: 600px) 
and (orientation: landscape) {
    html{
        font-size: 6px;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    body{
        padding: 0rem 5.25rem; /*42px*/
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    body {
    padding: 3.5rem; /*42px*/
        }
    }

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-width: 800px)
and (orientation: portrait){
    body {
        padding: 4.2rem; /*42px*/
        }
    }

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-width: 1100px)
and (orientation: landscape){
    body{
        padding: 0rem 6rem; /*42px*/
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    body{
        padding: 1rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    :root {
    --heading-txt-m: 4rem;
    --heading-txt-ms: 3.5rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    :root{
        --heading-txt-ms: 4rem;
        --heading-txt-xsm: 3rem;

    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    :root{
        --heading-txt-ms: 4rem;
    }
}

/*()||||||+++++NAVIGATION BUTTON+++++|||||()*/

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #nav-menu-btn-wrapper{
        top: 0.5rem;
        right: 0rem;
        left: unset;
        margin-right: 5rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    #nav-menu-btn-wrapper{
        top: 0.5rem;
        left: unset;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #nav-menu-label{
        font-size: 2.6rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .nav-menu-btn-lines{
        width: 5.5rem;
        height: 0.3rem;
        background-color: var(--bg-color-light);
        /* margin: 0.7rem 0rem; */
    }
}


/*()||||||+++++NAVIGATION MENU+++++|||||()*/

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    #nav-menu-wrapper {
    width: 44rem;
    min-height: 50rem;
        }
    }

/*PORTRAIT: Smaller tablets e.g. Ipad*/
/* @media (max-width: 800px)
and (orientation: portrait){
    #nav-menu-wrapper {
    width: 44rem;
        }
    } */

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #nav-menu-wrapper{
        width: 100vw;
        height: 100vh;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    #nav-menu-wrapper{
        width: 100vw;
        height: auto;
        min-width: unset;
        min-height: 100vh;
        top: 0rem;
        bottom: 0rem;
        left: unset;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    @keyframes fade-in-nav-bar {
        0% {opacity: 0; right: 6rem;}
        100% {opacity: 1; right: 0rem}
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    @keyframes fade-out-nav-bar {
        0% {opacity: 1; right: 0rem;}
        100% {opacity: 0; right: 6rem}
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
/* @media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    #nav-menu{
        font-size: 7.2rem;
    }
} */

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #nav-menu-wrapper{
        width: 100vw;
        height: 100vh;
        min-width: 100vw;
        top: 0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #nav-menu{
        padding: 60% 1.9rem 4rem 4rem;
    }
}

/* PORTRAIT: Small phones like iPhone SE */
/* @media only screen 
and (max-width: 400px) 
and (orientation: portrait) {
    #nav-menu{
        padding: 8rem 2rem 1rem 2rem;
    }
} */

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    #nav-menu{
        padding-top: 0.5rem;
    }
}


/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .nav-menu-subsection-style{
        padding: unset;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .nav-menu-site-link {
        height: auto;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .nav-menu-site-link{
        font-size: 4.2rem;
        padding: 2rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #nav-social a:nth-child(1){
        margin-left: 0rem;
        padding-left: 0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #nav-call-to-action{
        font-size: 2.6rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .nav-contact{
        font-size: 3rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #nav-social{
        font-size: 2.5rem;
    }
}

/*()||||||+++++HERO INTRO+++++|||||()*/

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1100px)
and (orientation: portrait){
    #home-txt-wrapper h1 {
    font-size: 6rem;
        }
    }

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    #home-txt-wrapper h1{
        font-size: 10.2rem;
    }
}

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-width: 800px)
and (orientation: portrait){
    #home-txt-wrapper h1 {
    font-size: 5rem;
        }
    }

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-width: 1100px)
and (orientation: landscape){
    #home-txt-wrapper h1 {
    font-size: 6.6rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #home-txt-wrapper h1{
        font-size: 8rem;
        text-align: center;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    #home-txt-wrapper h1{
        font-size: 4.0rem;
    }
}

/* PORTRAIT: Low px density sub 4" phone e.g. iPhone SE phone */
@media only screen 
and (max-width: 360px) 
and (orientation: portrait) {
    #home-txt-wrapper h1{
        font-size: 3.2rem;
    }
}

/*LANDSCAPE: Low px density sub 4" phone e.g. iPhone SE phone */
@media only screen 
and (max-width: 700px) 
and (orientation: landscape) {
    #home-txt-wrapper h1{
        font-size: 4.0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    @keyframes fade-in-nav-bar {
        0% {opacity: 0; right: 6rem;}
        100% {opacity: 1; right: 0rem}
    }
}

@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    @keyframes fade-out-nav-bar{
        0% {opacity: 1; right: 0rem;}
        100% {opacity: 0; right: 6rem}
    }
}


/*()||||||+++++CUSTOMIZE+++++|||||()*/
/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    #customize {
        flex-direction: column;
        }
    }

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    #customize{
        flex-direction: column;
    }
}

/* LANDSCAPE: Small phones like iPhone SE */
@media only screen 
and (max-width: 600px) 
and (orientation: landscape) {
    #customize{
        flex-direction: column;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 400px) 
and (orientation: portrait) {
    #theme-switcher-wrapper{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 400px) 
and (orientation: portrait) {
    .color-bar{
        width: 12rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .customizations-btn-wrapper {
        margin: 0rem 0rem 6rem 0rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 400px) 
and (orientation: portrait) {
    .customizations-btn-wrapper{
        width: 95%;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .customizations-btn-wrapper form select{
        width: 40rem;
        height: 6.5rem;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: landscape){
    .exibition-block{
        margin: 0rem;
        }
    }

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-width: 1100px)
and (orientation: landscape){
    .exibition-block{
        margin-right: 0rem;
        }
    }

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    #theme-switcher-wrapper {
    margin-bottom: 2.5rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .exibition-block-wrapper{
        padding: 0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .exibition-block{
        width: auto;
        padding: 0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .exibition-block-partition{
        margin: 5.5rem 0rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .exibition-social-icons-wrapper{
        width: 7.7rem;
        height: 7.7rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .work-canvas {
        width: 100%;
        min-height:auto;
        padding-top: 4rem;
        padding-bottom: 4rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .work-canvas {
        width: 95%;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    .work-canvas{
        width: 100%;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .work-canvas::before {
        width: 60rem;
        height: 60rem;
        right: -55%;
        border: solid 9rem var(--accent-color-primary);
        }
    }

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    .work-canvas::before{
        right: -47%;
        width: 90rem;
        height: 90rem;
        border-width: 15rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .work-canvas::before{
        bottom: -20%;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .work-canvas::after {
        left: -20%;
        }
    }

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-width: 800px)
and (orientation: portrait){
    .work-canvas::after{
        top: -18%;
        left: -24%;
    }
}

@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .work-canvas::after{
        top: -14%;
        left: -30%;
    }
}

@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .work-canvas::before{
        left: -132%;
        width: 120rem;
        height: 120rem;
        border-width: 12rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .work-canvas img{
        width: 59rem;
        height: 43.7rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .work-canvas img{
        width: 55rem;
        height: 40.15rem;
    }
}

/* PORTRAIT: HD + QHD Non-Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 400px) 
and (orientation: portrait) {
    .work-canvas img{
        width: 47rem;
        height: 34.3rem;
    }
}

@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .work-canvas img{
        width: 58rem;
        height: 42rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .work-canvas p{
        width: 85%;
        margin-bottom: 2rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .work-canvas p{
        padding: 2rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .work-canvas p{
        width: 85%;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .contact-info-wrapper{
        width: 50%;
        margin-right: 0rem;
        }
    }

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .contact-content-wrapper{
        flex-direction: column-reverse;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .contact-info-wrapper{
        width: 80%;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    .contact-info-wrapper{
        width: 45%;
        margin: 0rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .contact-info-wrapper{
        width: 60%;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .logo-wrapper img{
        width: 30rem;
        height: 30rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .logo-wrapper img{
        margin-bottom: 3rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .logo-wrapper img{
        width: 30rem;
        height: 30rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    #bio-content-wrapper{
        flex-direction: column-reverse;
        }
    }

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    #bio-content-wrapper{
        flex-direction: column-reverse;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    #bio-txt{
        width: 75%;
        }
    }

/*PORTRAIT: Smaller tablets e.g. Ipad*/
@media (max-width: 800px)
and (orientation: portrait){
    #bio-txt{
        width: 95%;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    #bio-txt{
        width: 88%;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    #bio-txt{
        width: 55%;
    }
}

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-width: 1100px)
and (orientation: landscape){
    #bio-txt{
        width: 60%;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    #bio-txt{
        width: 80%;
    }
}
    

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    #bio-photo-wrapper{
        margin: 0rem 0rem 5rem 0rem;
        }
    }

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    #bio-photo-wrapper{
        margin-left: 10rem;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    #bio-photo{
        width: 30rem;
        height: 30rem;
    }
}
 
/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    #bio-photo{
        width: 35rem;
        height: 35rem;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    .interests-block{
        width: 100%;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .interests-collection{
        flex-direction: column;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .interests-collection{
        flex-direction: column;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .interests-block{
        width: 100%;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .interests-canvas img{
        width: 50rem;
        height: 50rem;
    }
}

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 900px) 
and (orientation: landscape) {
    .interests-canvas img{
       width: 50rem;
       height: 50rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .nav-menu-elements-scaler{
        font-size: 10px;
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .p-scaler {
        font-size: 1.7rem;
        }
    }

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    .p-scaler{
        font-size: 2rem;
    }
}

/*LANDSCAPE: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD*/
@media only screen 
and (max-width: 1400px) 
and (orientation: landscape) {
    .p-scaler{
        font-size: 2.2rem;
    }
}

/*LANDSCAPE: Smaller tablets e.g. Ipad*/
@media (max-width: 1100px)
and (orientation: landscape){
    .p-scaler{
        font-size: 2.1rem;
        }
    }

/* LANDSCAPE: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 600px) 
and (orientation: landscape) {
    .p-scaler{
        font-size: 2.7rem;
    }
}

/* PORTRAIT: HD + QHD Phablet(should cover tall aspect ratios also) */
@media only screen 
and (max-width: 500px) 
and (orientation: portrait) {
    .p-scaler{
        font-size: 2.7rem;
    }
}

/* LANDSCAPE: Small phones like iPhone SE */
@media only screen 
and (max-width: 400px) 
and (orientation: portrait) {
    .p-scaler{
       font-size: 3.1rem
    }
}

/*PORTRAIT: Super HiDPI tablets e.g. Ipad Pro Kindle Fire HD */
@media (max-width: 1400px)
and (orientation: portrait){
    .gridded-heading{
        margin: 1rem auto 6rem auto;
    }
}
